<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="WSGI_HANDLER" value="AIMaintenance.wsgi.application" />
    <add key="PYTHONPATH" value="D:\PredictiMach\PredictiveMaintenance" />
    <add key="DJANGO_SETTINGS_MODULE" value="AIMaintenance.settings" />
  </appSettings>

  <system.webServer>
    <handlers>
            <remove name="PredictiveMaintenance" />
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\User\AppData\Local\Programs\Python\Python312\python.exe|C:\Users\User\AppData\Local\Programs\Python\Python312\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            <add name="PredictiveMaintenance" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\User\AppData\Local\Programs\Python\Python312\python.exe|C:\Users\User\AppData\Local\Programs\Python\Python312\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>

    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />

    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>


